{% extends "basic.html" %}

{% block title%}about{% endblock %}
{% block body %} <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-5">Rhythm Cosmetics</h1>
        <p>Rhythm Cosmetics is an Indian e-commerce company, headquartered in Raipur.
            The company initially focused on colored pigments sales before expanding into other product categories such as Mascarras, Lip balms, Bath salts and other skin care products
             <br>
             It was founded in January 2021 by Roshita Dulani, alumni of the BIT, Durg</p>

      </div>
    </div>



  </main>

{% endblock %}
